<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>

<div *ngIf="!showSpinner">
<div class="container mt-5">
  <div style="text-align: center">
    <div *ngIf="!registerMode">
      <h1>Diploma!</h1>
      <p class="lead"> <!-- Zdecydowac jak dużo chcemy tutaj tego mieć-->
        Witaj na stronie głównej portalu do komunikacji między promotorem, a dyplomantom. Głównym zadaniem całego systemu jest informatyzacja procesu rezerwacji tematów 
        prac dyplomowych. Dzięki możliwości przeglądania listy prac dyplomant wraz ze swoją grupą ma możliwość rezerwacji dostępnych tematów.
      </p>
      <p class="lead">
        Promotorzy zarejestrowani w systemie mają możliwość dodawania własnych prac, dzięki którym grupy złożone z dyplomantów mogą w czasie 
        rzeczywistym rezerwować wybrane przez siebie prace.
      </p>
    </div>
    <div *ngIf="!isUserAcitve && isLoggedIn()" class="text-center">
    <p class="lead">
      Twoje konto nie jest aktywne. By móc korzystać z serwisu musisz je aktywować w tym celu uzupełnij dane.
    </p>
    <button class="btn btn-primary btn-lg mr-2" [routerLink]="['/member/edit']" >Uzupełnij dane</button>
  </div>
  </div>

  <div class="text-center">
    <button
    *ngIf="!registerMode && !isLoggedIn()"
      class="btn btn-primary btn-lg mr-2"
      (click)="registerToggle()"
    >
      Rejestracja
    </button>
  </div>

  <div *ngIf="registerMode" class="container">
    <br />
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register
          (cancelRegister)="cancelRegisterMode($event)"
        ></app-register>
      </div>
    </div>
  </div>
</div>
</div>