<div class="mb-4">
  <p></p>
  <h2 class="text-center text-primary" id="space">Szczegóły tematu pracy</h2>
  <hr />
  <div class="row col-sm-11" id="tables">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h4>Informacje o temacie:</h4>
          <h5>Nazwa tematu: {{ thesis?.name }}</h5>
          <h5>Sugerowany rozmiar grupy: {{ thesis?.maxSize }}</h5>
          <h5>Kierunek i wydział: {{ thesis?.faculty }}</h5>
          <h5>Stopień: {{ thesis?.semester }}</h5>
          <h5>Opis: {{ thesis?.description }}</h5>
          <h5>Zajęty: {{ fixState() }}</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h4>Informacje o promotorze:</h4>
          <h5>Imię i nazwisko: {{ thesis?.supervisorName }}</h5>
          <h5>Tytuł naukowy: {{ thesis?.supervisorTitle }}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3" id="buttons">
    <button
      routerLinkActive="router-link-active"
      class="btn btn-success btn-block"
      (click)="reserveTopic()"
      *ngIf="canReserveThisTopic && isStudent"
    >
      Rezerwuj temat
    </button>
    <button
      
      routerLinkActive="router-link-active"
      class="btn btn-success btn-block"
      (click)="resignTopic()"
      *ngIf="isOwnerThisTopic && isStudent && canReserveThisTopic"
    >
      Rezygnuj z tematu
    </button>
  </div>
</div>
