<div class="text">
  <h2 class="text-center text-primary">Moje prace</h2>
</div>
<br />
<div id="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <div>
            <strong>Ilość aktywnych tematów:</strong>
            <p></p>
          </div>
          <div>
            <strong>Ilość zajętych tematów:</strong>
            <p></p>
          </div>
          <div>
            <strong>Ilość zarchiwizowanych tematów:</strong>
            <p></p>
          </div>
          <div>
            <strong>Liczba moich grup:</strong>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div class="table col-sm-9">
      <ng-table
        [config]="config"
        (tableChanged)="onChangeTable(config)"
        (cellClicked)="onCellClick($event)"
        [rows]="rows"
        [columns]="columns"
      >
      </ng-table>
      <pre *ngIf="config.paging" class="card card-block card-header">
        Page: {{ page }} / {{ numPages }}
      </pre>
      <div class="card-header card col-sm-3" id="thesisAddButton">
        <button
          [routerLink]="['/thesis/thesis-add']"
          routerLinkActive="router-link-active"
          class="btn btn-success btn-block" 
        >
          Dodaj nową pracę
        </button>
      </div>
    </div>
  </div>
</div>
