<div class="text">
  <h2 class="text-center text-primary">Panel administratora</h2>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <div>
            <strong>Liczba zamkniętych zgłoszeń:</strong>
            <p>{{ closedTicketsQuantity }}</p>
          </div>
          <div>
            <strong>Użytkownicy z nadanymi prawami:</strong>
            <p>{{ usersWithRolesQuantity }}</p>
          </div>
          <div>
            <strong>Aktywne konta:</strong>
            <p>{{ activeAccountsQuantity }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <div>
            <strong>Liczba otwartych zgłoszeń:</strong>
            <p>{{ openTicketsQuantity }}</p>
          </div>
          <div>
            <strong>Użytkownicy bez nadanych praw:</strong>
            <p>{{ usersWithRolesQuantity }}</p>
          </div>
          <div>
            <strong>Nieaktywne konta:</strong>
            <p>{{ nonActiveAccountsQuantity }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <button
            type="button"
            id="spacing"
            class="btn btn-success btn-block"
            [routerLink]="['/groups']"
            routerLinkActive="router-link-active"
          >
            Pokaż grupy
          </button>
          <button
            type="button"
            class="btn btn-success btn-block"
            [routerLink]="['/adminPanel/tickets']"
          >
            Przejdź do zgłoszeń
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
