<div class="text">
  <h2 class="text-center text-primary">Lista prac</h2>
</div>
<br />
<div id="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <div>
            <strong>Ilość aktywnych tematów:</strong>
            <p>{{ quantityOfUnhiddenTopics }}</p>
          </div>
          <div>
            <strong>Liczba promotorów:</strong>
            <p>{{ quantityUniqueOfPromoters }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="table col-sm-9">
      <ng-table
        [config]="config"
        (tableChanged)="onChangeTable(config)"
        (cellClicked)="onCellClick($event)"
        [rows]="rows"
        [columns]="columns"
      >
      </ng-table>
      <pagination
        *ngIf="config.paging"
        class="pagination-sm"
        [(ngModel)]="page"
        [totalItems]="length"
        [itemsPerPage]="itemsPerPage"
        [maxSize]="maxSize"
        [boundaryLinks]="true"
        [rotate]="false"
        (pageChanged)="onChangeTable(config, $event)"
        (numPages)="numPages = $event"
      >
      </pagination>
      <pre *ngIf="config.paging" class="card card-block card-header">
Page: {{ page }} / {{ numPages }}</pre
      >
      <div
        class="card-header card col-sm-3"
        id="thesisAddButton"
        *ngIf="isPromoter"
      >
        <button
          [routerLink]="['/thesis/thesis-add']"
          routerLinkActive="router-link-active"
          class="btn btn-success btn-block"
        >
          Dodaj nową pracę
        </button>
      </div>
    </div>
  </div>
</div>
