.table
{
    padding-bottom: 5%;
}
.text
{
    padding-top: 2%;
}
#thesisAddButton
{
    display: block;
    margin-left: auto;
    margin-bottom: 1%;
}
#container
{
    margin-left: 2%;
    margin-right: 2%;
}