<div class="container mt-4">
  <h2 class="text-center text-primary" id="space">Dodawanie pracy</h2>
  <div class="row">
    <div class="col-sm-4">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <form [formGroup]="thesisForm" (ngSubmit)="addThesis()">
            <h6 id="nameid">Nazwa tematu:</h6>
            <input
              name="topicName"
              rows="6"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.topicName?.errors }"
              formControlName="topicName"
            />
            <div
              *ngIf="submitted && !!f.topicName?.errors"
              class="invalid-feedback"
            >
              <div *ngIf="!!f.topicName?.errors">
                Nazwa tematu jest wymagana
              </div>
            </div>
            <br />
            <h6>Promotor:</h6>
            <input
              name="supervisorFullName"
              rows="6"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && f.supervisorFullName?.errors
              }"
              formControlName="supervisorFullName"
              disabled
            />
            <div
              *ngIf="submitted && !!f.supervisorFullName?.errors"
              class="invalid-feedback"
            >
              <div *ngIf="!!f.supervisorFullName?.errors">
                Imię i nazwisko promotora są wymagane
              </div>
            </div>
            <br />
            <h6>Maksymalna ilość osób:</h6>
            <div class="form-group">
              <input
                name="maxSize"
                rows="6"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.maxSize?.errors }"
                formControlName="maxSize"
              />
              <div
                *ngIf="submitted && !!f.maxSize?.errors"
                class="invalid-feedback"
              >
                <div *ngIf="!!f.maxSize?.errors">
                  Podanie ilości osób jest wymagane
                </div>
              </div>
              <br />
            </div>
          </form>
        </tabset>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <form [formGroup]="thesisForm" (ngSubmit)="addThesis()">
            <h6 id="nameid">Kierunek i wydział:</h6>
            <ng-multiselect-dropdown
              [placeholder]="'Wybierz kierunek i wydział'"
              [data]="studyFieldsDropdownList"
              [(ngModel)]="studyFieldsSelectedItems"
              [settings]="dropdownSettings"
              formControlName="studyFields"
            >
            </ng-multiselect-dropdown>
            <br />
            <h6>Semestr:</h6>
            <ng-multiselect-dropdown
              [placeholder]="'Wybierz semestr'"
              [data]="issueSemestersDropdownList"
              [(ngModel)]="issueSemestersSelectedItems"
              [settings]="dropdownSettings"
              formControlName="issueSemesters"
            >
            </ng-multiselect-dropdown>
            <br />
            <h6>Zajęty:</h6>
            <div class="radios">
              <div class="custom-control custom-radio custom-control-inline">
                <input
                  class="custom-control-input active"
                  type="radio"
                  name="isReserved"
                  id="inlineRadio1"
                  value="true"
                  formControlName="isReserved"
                  [ngClass]="{
                    'is-invalid': submitted && f.isReserved?.errors
                  }"
                  [value]="true"
                />
                <label class="custom-control-label" for="inlineRadio1"
                  >Tak</label
                >
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input
                  class="custom-control-input"
                  type="radio"
                  name="isReserved"
                  id="inlineRadio2"
                  value="false"
                  formControlName="isReserved"
                  [ngClass]="{
                    'is-invalid': submitted && f.isReserved?.errors
                  }"
                />
                <label class="custom-control-label" for="inlineRadio2"
                  >Nie</label
                >
              </div>
            </div>
            <div class="card-footer">
              <button
                [disabled]="!thesisForm?.dirty"
                type="submit"
                class="btn btn-success btn-block"
              >
                Zapisz
              </button>
            </div>
          </form>
        </tabset>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <form [formGroup]="thesisForm" (ngSubmit)="addThesis()">
            <h6 id="nameid">Opis tematu:</h6>
            <textarea
              class="form-control"
              rows="8"
              name="description"
              id="description"
              [ngClass]="{ 'is-invalid': submitted && f?.description?.errors }"
              formControlName="description"
            ></textarea>
            <div
              *ngIf="submitted && !!f.description?.errors"
              class="invalid-feedback"
            >
              <div *ngIf="!!f.description?.errors">
                Opis tematu jest wymagany
              </div>
            </div>
          </form>
        </tabset>
      </div>
    </div>
  </div>
</div>
