<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Rejestracja</h2>
  <hr />

  <div class="form-group">
    <input
      type="text"
      class="form-control"
      required
      name="login"
      formControlName="login"
      [ngClass]="{ 'is-invalid': submitted && f?.login?.errors }"
      placeholder="Login"
    />
    <div
      *ngIf="submitted && !!f?.login?.errors?.required"
      class="invalid-feedback"
    >
      <div *ngIf="!!f?.login?.errors?.required">Login jest wymagany</div>
    </div>
  </div>

  <div class="form-group">
    <input
      type="password"
      class="form-control"
      required
      name="password"
      formControlName="password"
      [ngClass]="{ 'is-invalid': submitted && f?.password?.errors }"
      placeholder="Hasło"
    />
    <div
      *ngIf="
        submitted &&
        (!!f?.password?.errors?.required || !!f?.password?.errors?.minlength)
      "
      class="invalid-feedback"
    >
      <div
        *ngIf="
          !!f?.password?.errors?.required || !!f?.password?.errors?.minlength
        "
      >
        Hasło jest wymagane, min. 6 znaków
      </div>
    </div>
  </div>

  <div class="form-group">
    <input
      type="password"
      class="form-control"
      required
      name="confirmPassword"
      formControlName="confirmPassword"
      [ngClass]="{ 'is-invalid': submitted && f.confirmPassword?.errors }"
      placeholder="Powtórz hasło"
      id="confirmPassword"
    />
    <div
      *ngIf="
        submitted &&
        (!!f?.confirmPassword?.errors?.required ||
          !!f?.confirmPassword?.errors?.minlength ||
          !!f?.confirmPassword?.errors?.mustMatch)
      "
      class="invalid-feedback"
    >
      <div
        *ngIf="
          !!f?.confirmPassword?.errors?.required ||
          !!f?.confirmPassword?.errors?.minlength ||
          !!f?.confirmPassword?.errors?.mustMatch
        "
      >
        Powtórz hasło jest wymagane i musi być identyczne jak hasło
      </div>
    </div>
  </div>

  <div class="form-group">
    <input
      type="email"
      class="form-control"
      required
      name="email"
      formControlName="email"
      [ngClass]="{ 'is-invalid': submitted && f.email?.errors }"
      placeholder="E-mail"
    />
    <div
      *ngIf="
        submitted && (!!f?.email?.errors?.required || !!f?.email?.errors?.email)
      "
      class="invalid-feedback"
    >
      <div *ngIf="!!f?.email?.errors?.required || !!f?.email?.errors?.email">
        Email jest wymagany i musi być poprawny
      </div>
    </div>
  </div>

  <div class="radios">
    <div>Czy jesteś pracownikiem uczelni?</div>

    <div class="custom-control custom-radio custom-control-inline">
      <input
        class="custom-control-input active"
        type="radio"
        name="isStudent"
        id="inlineRadio1"
        value="true"
        formControlName="isStudent"
        [ngClass]="{ 'is-invalid': submitted && f.isStudent.errors }"
        [value]="true"
      />
      <label class="custom-control-label" for="inlineRadio1">Tak</label>
    </div>

    <div class="custom-control custom-radio custom-control-inline">
      <input
        class="custom-control-input"
        type="radio"
        name="isStudent"
        id="inlineRadio2"
        value="false"
        formControlName="isStudent"
        [ngClass]="{ 'is-invalid': submitted && f.isStudent.errors }"
      />
      <label class="custom-control-label" for="inlineRadio2">Nie</label>
    </div>
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" type="submit">Zarejestruj się</button>
    <button class="btn btn-default" type="button" (click)="cancel()">
      Anuluj
    </button>
  </div>
</form>
