<div class="mb-4">
  <p></p>
  <h2 class="text-center text-primary" id="space">Resetowanie hasła</h2>
  <hr />
  <form [formGroup]="resetForm" (ngSubmit)="reset()" class="text-center">
    <div class="col-sm-4" id="formgroup">
      <div class="form-group">
        <label for="login" class="h6">Podaj swój login:</label>
        <input
          type="text"
          class="form-control"
          required
          name="login"
          formControlName="login"
          [ngClass]="{ 'is-invalid': submitted && f?.login?.errors }"
          placeholder="Login"
        />
        <div
          *ngIf="submitted && !!f?.login?.errors?.required"
          class="invalid-feedback"
        >
          <div *ngIf="!!f?.login?.errors?.required">Login jest wymagany</div>
        </div>
      </div>

      <div class="form-group">
        <label for="email" class="h6">Podaj swój email:</label>
        <input
          type="email"
          class="form-control"
          required
          name="email"
          formControlName="email"
          [ngClass]="{ 'is-invalid': submitted && f.email?.errors }"
          placeholder="E-mail"
        />
        <div
          *ngIf="
            submitted &&
            (!!f?.email?.errors?.required || !!f?.email?.errors?.email)
          "
          class="invalid-feedback"
        >
          <div
            *ngIf="!!f?.email?.errors?.required || !!f?.email?.errors?.email"
          >
            Email jest wymagany i musi być poprawny
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="newPassword" class="h6">Podaj nowe hasło:</label>
        <input
          type="password"
          class="form-control"
          required
          name="newPassword"
          formControlName="newPassword"
          [ngClass]="{ 'is-invalid': submitted && f.newPassword?.errors }"
          placeholder="Hasło"
        />
        <div
          *ngIf="
            submitted &&
            (!!f?.newPassword?.errors?.required ||
              !!f?.newPassword?.errors?.minlength)
          "
          class="invalid-feedback"
        >
          <div
            *ngIf="
              !!f?.newPassword?.errors?.required ||
              !!f?.newPassword?.errors?.minlength
            "
          >
            Hasło jest wymagane
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="confirmNewPassword" class="h6">Potwierdź nowe hasło:</label>
        <input
          type="password"
          class="form-control"
          required
          name="confirmNewPassword"
          formControlName="confirmNewPassword"
          [ngClass]="{
            'is-invalid': submitted && f.confirmNewPassword?.errors
          }"
          placeholder="Hasło"
        />
        <div
          *ngIf="
            submitted &&
            (!!f?.confirmNewPassword?.errors?.required ||
              !!f?.confirmNewPassword?.errors?.minlength ||
              !!f?.confirmNewPassword?.errors?.mustMatch)
          "
          class="invalid-feedback"
        >
          <div
            *ngIf="
              (!!f?.confirmNewPassword?.errors?.required ||
              !!f?.confirmNewPassword?.errors?.minlength ||
              !!f?.confirmNewPassword?.errors?.mustMatch)
            "
          >
            Powtórzenie hasła jest wymagane i musi być identyczne
          </div>
        </div>
      </div>
    </div>

    <div class="form-group btn-group col-sm-4">
      <div class="card-footer col-sm-6">
        <button type="submit" class="btn btn-success btn-block">Resetuj</button>
      </div>
      <div class="card-footer col-sm-6">
        <button type="reset" class="btn btn-secondary btn-block">
          Wyczyść
        </button>
      </div>
    </div>
  </form>
</div>
