<div class="mb-4">
  <p></p>
  <h2 class="text-center text-primary" id="space">Szczegóły tematu pracy</h2>
  <hr />
  <div class="col-sm-6" id="thesisContent">
    <h4>Nazwa tematu:</h4>
    <h4>Promotor:</h4>
    <h4>Maksymalny rozmiar grupy:</h4>
    <h4>Kierunek i wydział:</h4>
    <h4>Semestr:</h4>
    <h4>Opis:</h4>
    <h4>Zajęty:</h4>
  </div>
</div>