<div class="container mt-4">
  <div class="row">
    <div class="col-sm-6">
      <h2>Twoje dane</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <div>
            <strong>Login:</strong>
            <p>{{ account.login }}</p>
          </div>
          <div>
            <strong>E-mail</strong>
            <p>{{ account.email }}</p>
          </div>
          <div>
            <strong>Hasło:</strong>
            <p>*********</p>
          </div>
          <br />
          <div>
            <button (click)="setLoginMode()" class="btn btn-success btn-block">
              Zmień login
            </button>
          </div>
          <br />
          <div>
            <button (click)="setEmailMode()" class="btn btn-success btn-block">
              Zmień e-mail
            </button>
          </div>
          <br />
          <div>
            <button
              (click)="setPasswordMode()"
              class="btn btn-success btn-block"
            >
              Zmień hasło
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <div *ngIf="loginChangeMode">
            <form [formGroup]="loginChangeFormGroup" (ngSubmit)="loginChange()">
              <h6 id="nameid">Podaj stary login:</h6>
              <input
                name="oldLogin"
                rows="6"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submitted && fLogin?.oldLogin?.errors
                }"
                formControlName="oldLogin"
              />
              <div
                *ngIf="submitted && !!fLogin?.oldLogin?.errors"
                class="invalid-feedback"
              >
                <div *ngIf="!!fLogin?.oldLogin?.errors">
                  Stary login jest wymagany
                </div>
              </div>
              <br />
              <h6>Podaj nowy login:</h6>
              <input
                name="newLogin"
                rows="6"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submitted && fLogin?.newLogin?.errors
                }"
                formControlName="newLogin"
              />
              <div
                *ngIf="submitted && !!fLogin?.newLogin?.errors"
                class="invalid-feedback"
              >
                <div *ngIf="!!fLogin?.newLogin?.errors">
                  Nowy login jest wymagany
                </div>
              </div>
              <br />
              <h6>Potwierdź nowy login:</h6>
              <input
                name="confirmNewLogin"
                rows="6"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submitted && fLogin?.confirmNewLogin?.errors
                }"
                formControlName="confirmNewLogin"
              />
              <div
                *ngIf="submitted && !!fLogin?.confirmNewLogin?.errors"
                class="invalid-feedback"
              >
                <div *ngIf="!!fLogin?.confirmNewLogin?.errors">
                  Potwierdzenie nowego loginu jest wymagane, pola muszą się
                  zgadzać.
                </div>
              </div>
              <br />
              <h6>Podaj hasło:</h6>
              <div class="form-group">
                <input
                  type="password"
                  name="password"
                  rows="6"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && fLogin?.password?.errors
                  }"
                  formControlName="password"
                />
                <div
                  *ngIf="submitted && !!fLogin?.password?.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="!!fLogin?.password?.errors">
                    Pole jest wymagane.
                  </div>
                </div>
                <br />
                <h6>Powtórz hasło:</h6>
                <input
                  type="password"
                  name="confirmPassword"
                  rows="6"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && fLogin?.confirmPassword?.errors
                  }"
                  formControlName="confirmPassword"
                />
                <div
                  *ngIf="submitted && !!fLogin?.confirmPassword?.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="!!fLogin?.confirmPassword?.errors">
                    Pole jest wymagane.
                  </div>
                </div>
              </div>

              <div class="card-footer">
                <button
                  [disabled]="!loginChangeFormGroup?.dirty"
                  type="submit"
                  class="btn btn-success btn-block"
                >
                  Zapisz
                </button>
              </div>
            </form>
          </div>

          <!-- EMAIL FORM -->

          <div *ngIf="emailChangeMode">
            <form [formGroup]="emailChangeFormGroup" (ngSubmit)="emailChange()">
              <h6 id="nameid">Podaj stary email:</h6>
              <input
                type="email"
                name="oldEmail"
                rows="6"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submitted && fEmail?.oldEmail?.errors
                }"
                formControlName="oldEmail"
              />
              <div
                *ngIf="submitted && !!fEmail?.oldEmail?.errors"
                class="invalid-feedback"
              >
                <div *ngIf="!!fEmail?.oldEmail?.errors">
                  Stary email jest wymagany.
                </div>
              </div>
              <br />
              <h6>Podaj nowy email:</h6>
              <input
                type="email"
                name="newEmail"
                rows="6"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submitted && fEmail?.newEmail?.errors
                }"
                formControlName="newEmail"
              />
              <div
                *ngIf="submitted && !!fEmail?.newEmail?.errors"
                class="invalid-feedback"
              >
                <div *ngIf="!!fEmail?.newEmail?.errors">
                  Nowy email jest wymagany.
                </div>
              </div>
              <br />
              <h6>Potwierdź nowy email:</h6>
              <input
                type="email"
                name="confirmNewEmail"
                rows="6"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submitted && fEmail?.confirmNewEmail?.errors
                }"
                formControlName="confirmNewEmail"
              />
              <div
                *ngIf="submitted && !!fEmail?.confirmNewEmail?.errors"
                class="invalid-feedback"
              >
                <div *ngIf="!!fEmail?.confirmNewEmail?.errors">
                  Potwierdzenie nowego email'u jest wymagane, pola muszą się
                  zgadzać.
                </div>
              </div>
              <br />
              <h6>Podaj hasło:</h6>
              <div class="form-group">
                <input
                  type="password"
                  name="password"
                  rows="6"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && fEmail?.password?.errors
                  }"
                  formControlName="password"
                />
                <div
                  *ngIf="submitted && !!fEmail?.password?.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="!!fEmail?.password?.errors">
                    Pole jest wymagane.
                  </div>
                </div>
                <br />
                <h6>Powtórz hasło:</h6>
                <input
                  type="password"
                  name="confirmPassword"
                  rows="6"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && fEmail?.confirmPassword?.errors
                  }"
                  formControlName="confirmPassword"
                />
                <div
                  *ngIf="submitted && !!fEmail?.confirmPassword?.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="!!fEmail?.confirmPassword?.errors">
                    Pole jest wymagane.
                  </div>
                </div>
              </div>

              <div class="card-footer">
                <button
                  [disabled]="!emailChangeFormGroup?.dirty"
                  type="submit"
                  class="btn btn-success btn-block"
                >
                  Zapisz
                </button>
              </div>
            </form>
          </div>

          <!-- PASSWORD FORM -->

          <div *ngIf="passwordChangeMode">
            <form
              [formGroup]="passwordChangeFormGroup"
              (ngSubmit)="passwordChange()"
            >
              <h6 id="nameid">Podaj login:</h6>
              <input
                name="login"
                rows="6"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submitted && fPassword?.login?.errors
                }"
                formControlName="login"
              />
              <div
                *ngIf="submitted && !!fPassword?.login?.errors"
                class="invalid-feedback"
              >
                <div *ngIf="!!fPassword?.login?.errors">
                  Pole jest wymagane.
                </div>
              </div>
              <br />
              <h6>Podaj email:</h6>
              <input
                type="email"
                name="email"
                rows="6"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submitted && fPassword?.email?.errors
                }"
                formControlName="email"
              />
              <div
                *ngIf="submitted && !!fPassword?.email?.errors"
                class="invalid-feedback"
              >
                <div *ngIf="!!fPassword?.email?.errors">
                  Pole jest wymagane.
                </div>
              </div>
              <br />
              <h6>Podaj stare hasło:</h6>
              <div class="form-group">
                <input
                  type="password"
                  name="oldPassword"
                  rows="6"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && fPassword?.oldPassword?.errors
                  }"
                  formControlName="oldPassword"
                />
                <div
                  *ngIf="submitted && !!fPassword?.oldPassword?.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="!!fPassword?.oldPassword?.errors">
                    Pole jest wymagane.
                  </div>
                </div>
                <br />
                <h6>Podaj nowe hasło:</h6>
                <input
                  type="password"
                  name="newPassword"
                  rows="6"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && fPassword?.newPassword?.errors
                  }"
                  formControlName="newPassword"
                />
                <div
                  *ngIf="submitted && !!fPassword?.newPassword?.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="!!fPassword?.newPassword?.errors">
                    Pole jest wymagane.
                  </div>
                </div>
                <br />
                <h6>Potwierdź nowe hasło:</h6>
                <input
                  type="password"
                  name="confirmNewPassword"
                  rows="6"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      submitted && fPassword?.confirmNewPassword?.errors
                  }"
                  formControlName="confirmNewPassword"
                />
                <div
                  *ngIf="submitted && !!fPassword?.confirmNewPassword?.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="!!fPassword?.confirmNewPassword?.errors">
                    Potwierdzenie nowego hasła jest wymagane, pola muszą się
                    zgadzać.
                  </div>
                </div>
              </div>

              <div class="card-footer">
                <button
                  [disabled]="!passwordChangeFormGroup?.dirty"
                  type="submit"
                  class="btn btn-success btn-block"
                >
                  Zapisz
                </button>
              </div>
            </form>
          </div>
        </tabset>
      </div>
    </div>
  </div>
</div>
