<div class="text">
  <h2 class="text-center text-primary">Zgłoszenia</h2>
</div>
<br />
<div id="container">
  <div class="table">
    <ng-table
      [config]="config"
      (tableChanged)="onChangeTable(config)"
      (cellClicked)="onCellClick($event)"
      [rows]="rows"
      [columns]="columns"
    >
    </ng-table>
    <pagination
      *ngIf="config.paging"
      class="pagination-sm"
      [(ngModel)]="page"
      [totalItems]="length"
      [itemsPerPage]="itemsPerPage"
      [maxSize]="maxSize"
      [boundaryLinks]="true"
      [rotate]="false"
      (pageChanged)="onChangeTable(config, $event)"
      (numPages)="numPages = $event"
    >
    </pagination>
    <pre *ngIf="config.paging" class="card card-block card-header">
Page: {{ page }} / {{ numPages }}</pre
    >
  </div>
</div>
