<div class="text">
  <h2 class="text-center text-primary">Szczegóły zgłoszenia</h2>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <div>
            <h4>Informacje o zgłoszeniu:</h4>
          </div>
          <div>
            <strong>Tytuł zgłoszenia:</strong>
            <p>{{ ticket.title }}</p>
          </div>
          <div>
            <strong>Uprawnienie:</strong>
            <p>{{ ticket.permissionName }}</p>
          </div>
          <div>
            <strong>Nazwa nadawcy:</strong>
            <p>{{ ticket.ticketOwnerName }}</p>
          </div>
          <div>
            <strong>Data wysłania zgłoszenia:</strong>
            <p>{{ date }}</p>
          </div>
          <div>
            <strong>Status zgłoszenia:</strong>
            <p>{{ ticket.state }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <div>
            <strong>Zawartość zgłoszenia:</strong>
            <p>{{ ticket.content }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <button
            type="button"
            id="spacing"
            (click)="changeTicketStatus(ticketStatus.Open)"
            routerLinkActive="router-link-active"
            class="btn btn-success btn-block"
          >
            Otwórz zgłoszenie
          </button>
          <button
            type="button"
            id="spacing"
            (click)="changeTicketStatus(ticketStatus.Closed)"
            routerLinkActive="router-link-active"
            class="btn btn-success btn-block"
          >
            Zamknij zgłoszenie
          </button>
          <button
            type="button"
            id="spacing"
            (click)="addPermissionToAccount(permissionName.Admin)"
            routerLinkActive="router-link-active"
            class="btn btn-success btn-block"
          >
            Nadaj uprawnienia administratora
          </button>
          <button
            type="button"
            id="spacing"
            (click)="addPermissionToAccount(permissionName.Employee)"
            routerLinkActive="router-link-active"
            class="btn btn-success btn-block"
          >
            Nadaj uprawnienia pracownika
          </button>
          <button
            type="button"
            id="spacing"
            class="btn btn-success btn-block"
            (click)="addPermissionToAccount(permissionName.Student)"
          >
            Nadaj uprawnienia studenta
          </button>
          <button
            type="button"
            id="spacing"
            class="btn btn-success btn-block"
            (click)="activeAccount()"
          >
            Aktywuj konto
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
