<div class="text">
  <h2 class="text-center text-primary">Lista grup</h2>
</div>
<br />
<div id="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <div>
            <strong>Ilość aktywnych grup:</strong>
            <p>{{ quantityOfGroups }}</p>
          </div>
          <div>
            <strong>Liczba grup z tematami:</strong>
            <p>{{ groupsWithTopicQuantity }}</p>
          </div>
          <div>
            <strong>Liczba grup bez tematów:</strong>
            <p>{{ groupsWithoutTopicQuantity }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="table col-sm-9">
      <ng-table
        [config]="config"
        (tableChanged)="onChangeTable(config)"
        (cellClicked)="onCellClick($event)"
        [rows]="rows"
        [columns]="columns"
      >
      </ng-table>
      <pagination
        *ngIf="config.paging"
        class="pagination-sm"
        [(ngModel)]="page"
        [totalItems]="length"
        [itemsPerPage]="itemsPerPage"
        [maxSize]="maxSize"
        [boundaryLinks]="true"
        [rotate]="false"
        (pageChanged)="onChangeTable(config, $event)"
        (numPages)="numPages = $event"
      >
      </pagination>
      <pre *ngIf="config.paging" class="card card-block card-header">
Page: {{ page }} / {{ numPages }}</pre
      >
    </div>
  </div>
</div>
