<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <h2>Twoje dane</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <div>
            <strong>Pierwsze imie:</strong>
            <p>{{ account?.name }}</p>
          </div>
          <div>
            <strong>Drugie imie:</strong>
            <p>{{ account?.secondName }}</p>
          </div>
          <div>
            <strong>Nazwisko:</strong>
            <p>{{ account?.surname }}</p>
          </div>
          <div [hidden]="!isPromoter">
            <strong>Tytuł naukowy:</strong>
            <p>{{ account?.scienceTitle }}</p>
          </div>
          <div [hidden]="!isStudent">
            <strong>Numer indeksu:</strong>
            <p>{{ account?.indexNumber }}</p>
          </div>
          <div [hidden]="!isStudent">
            <strong>Wydział:</strong>
            <p>{{ account?.facultyName }}</p>
          </div>
          <div [hidden]="!isStudent">
            <strong>Kierunek:</strong>
            <p>{{ account?.studyFieldName }}</p>
          </div>
          <div [hidden]="!isStudent">
            <strong>Semestr:</strong>
            <p>{{ account?.semesterName }}</p>
          </div>
          <div class="card-footer" *ngIf="canCreateGroup && !isPromoter">
            <button
              type="submit"
              class="btn btn-success btn-block"
              (click)="creatingGroup = true"
            >
              Załóż grupę
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4" *ngIf="creatingGroup">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <form [formGroup]="createGroupForm" (ngSubmit)="createGroup()">
            <h6 id="nameid">Podaj hasło grupy:</h6>
            <input
              type="password"
              class="form-control"
              required
              name="password"
              formControlName="password"
              [ngClass]="{ 'is-invalid': submitted && g?.password?.errors }"
              placeholder="Hasło"
            />
            <div
            *ngIf="submitted && !!g.password?.errors"
            class="invalid-feedback"
          >
            <div *ngIf="!!g.password?.errors">
              Hasło jest wymagane
            </div>
          </div>
            <br />
            <h6>Potwierdź hasło grupy:</h6>
            <input
              type="password"
              class="form-control"
              required
              name="confirmPassword"
              formControlName="confirmPassword"
              [ngClass]="{
                'is-invalid': submitted && g.confirmPassword?.errors
              }"
              placeholder="Powtórz hasło"
              id="confirmPassword"
            />
            <div
            *ngIf="submitted && !!g.confirmPassword?.errors"
            class="invalid-feedback"
          >
            <div *ngIf="!!g.confirmPassword?.errors">
              Powtórzenie hasła jest wymagane, hasła muszą się zgadzać
            </div>
          </div>
            <br />
            <div class="card-footer">
              <button
                [disabled]="!createGroupForm?.dirty"
                type="submit"
                class="btn btn-success btn-block"
              >
                Załóż grupę
              </button>
            </div>
          </form>
        </tabset>
      </div>
    </div>
    <div class="col-sm-4" *ngIf="!creatingGroup">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <form [formGroup]="memberEdit" (ngSubmit)="updateAccount()">
            <h6 id="nameid">Pierwsze imie:</h6>
            <input
              name="name"
              rows="6"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f?.name?.errors }"
              formControlName="name"
            />
            <div
              *ngIf="submitted && !!f?.name?.errors?.required"
              class="invalid-feedback"
            >
              <div *ngIf="!!f?.name?.errors?.required">
                Pole jest wymagane.
              </div>
            </div>
            <br />
            <h6>Drugie imie:</h6>
            <input
              name="secondName"
              rows="6"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f?.secondName?.errors }"
              formControlName="secondName"
            /><br />
            <h6>Nazwisko:</h6>
            <div class="form-group">
              <input
                name="surname"
                rows="6"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f?.surname?.errors }"
                formControlName="surname"
              />
              <div
                *ngIf="submitted && !!f?.surname?.errors?.required"
                class="invalid-feedback"
              >
                <div *ngIf="!!f?.surname?.errors?.required">
                  Pole jest wymagane.
                </div>
              </div>
              <br />
            </div>

            <div class="card-footer">
              <button
                [disabled]="!memberEdit?.dirty"
                type="submit"
                class="btn btn-success btn-block"
              >
                Zapisz
              </button>
            </div>
          </form>
        </tabset>
      </div>
    </div>
    <div class="col-sm-4" *ngIf="!creatingGroup">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <form [formGroup]="memberEdit" (ngSubmit)="updateAccount()">
            <div *ngIf="isPromoter && !isStudent">
              <h6 id="nameid">Tytuł Naukowy:</h6>
              <input
                name="scienceTitle"
                rows="6"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submitted && f?.scienceTitle?.errors
                }"
                formControlName="scienceTitle"
              />
            </div>
            <div *ngIf="isStudent && !isPromoter">
              <h6 id="nameid">Numer Indeksu:</h6>
              <input
                name="indexNumber"
                rows="6"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submitted && f?.indexNumber?.errors
                }"
                formControlName="indexNumber"
              />
            </div>
            <br />
            <div class="form-group" >
              <h6>Kierunek i wydział:</h6>
              <ng-multiselect-dropdown
                [placeholder]="'Wybierz kierunek i wydział'"
                [data]="studyFieldsDropdownList"
                [(ngModel)]="studyFieldsSelectedItems"
                [settings]="dropdownSettings"
                formControlName="studyFields"
              >
              </ng-multiselect-dropdown>
              <br />
              <h6>Semestr:</h6>
              <ng-multiselect-dropdown
                [placeholder]="'Wybierz semestr'"
                [data]="issueSemestersDropdownList"
                [(ngModel)]="issueSemestersSelectedItems"
                [settings]="dropdownSettings"
                formControlName="issueSemesters"
              >
              </ng-multiselect-dropdown>
              <br />
            </div>
            <div class="card-footer">
              <button
                [routerLink]="['/loginEdit']"
                routerLinkActive="router-link-active"
                type="button"
                class="btn btn-success btn-block"
              >
                Edytuj dane logowania
              </button>
            </div>
          </form>
        </tabset>
      </div>
    </div>
  </div>
</div>
