<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['']" id="logo">Diploma</a>
    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/thesis']">Prace</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/groups']">Grupy</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/help']">Pomoc</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" *ngIf="isAdmin()" [routerLink]="['/adminPanel']"
          >Panel Administratora</a
        >
      </li>
    </ul>

    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Witaj {{ authService.decodedToken?.unique_name | titlecase }}
      </a>

      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/thesis/my-thesis']" *ngIf="isPromoter">
          <i class="fa fa-user"></i> Moje prace</a
        >
        <a class="dropdown-item" (click)="goToGroup()" *ngIf="isStudent">
          <i class="fa fa-user"></i> Moja grupa</a
        >
        <a class="dropdown-item" [routerLink]="['/member/edit']">
          <i class="fa fa-user"></i> Edytuj profil</a
        >
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" (click)="logout()"
          ><i class="fa fa-sign-out"></i>Wyloguj</a
        >
      </div>
    </div>

    <form
      *ngIf="!loggedIn()"
      #loginForm="ngForm"
      class="form-inline my-2 my-lg-0"
      (ngSubmit)="login()"
    >
      <input
        class="form-control mr-sm-2"
        type="text"
        placeholder="Login"
        name="login"
        required
        [(ngModel)]="model.login"
      />
      <input
        class="form-control mr-sm-2"
        type="password"
        placeholder="Hasło"
        name="password"
        required
        [(ngModel)]="model.password"
      />
      <button
        [disabled]="!loginForm.valid"
        class="btn btn-success my-2 my-sm-0 mr-sm-1"
        type="submit"
      >
        Login
      </button>

      <button
        class="btn btn-info my-2 my-sm-0 ml-sm-1"
        type="button"
        [routerLink]="['/remindPassword']"
      >
        Przypomnij Hasło
      </button>
    </form>
  </div>
</nav>
