#helpContent
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    resize: none;
}
#inputPosition
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
}
#space
{
    padding-top: 1%;
    padding-bottom: 1%;
}