<div class="mb-4">
  <p></p>
  <h2 class="text-center text-primary" id="space">Formularz zgłoszeniowy</h2>
  <p class="text-center">Masz jakiś problem? Zgłoś to do nas!</p>
  <hr />
  <form class="text-center" [formGroup]="helpForm" (ngSubmit)="sendHelp()">
    <div class="form-group">
      <h6 id="nameid">Tytuł zgłoszenia:</h6>
      <input
          id="inputPosition"
          name="requestTitle"
          rows="6"
          placeholder="Tytuł zgłoszenia"
          class="form-control col-sm-3"
          [ngClass]="{ 'is-invalid': submitted && f.requestTitle?.errors }"
          formControlName="requestTitle"
      />
      <div
        *ngIf="submitted && !!f.requestTitle?.errors"
        class="invalid-feedback"
      >
        <div *ngIf="!!f.requestTitle?.errors">
          Tytuł zgłoszenia jest wymagany
        </div>
      </div>

      <ng-multiselect-dropdown
        id="inputPosition"
        class="col-sm-4"
        [placeholder]="'Wybierz rolę, której dotyczy zgłoszenie'"
        [data]="permissionsDropdownList"
        [settings]="dropdownSettings"
        formControlName="permissionList"
      >
      </ng-multiselect-dropdown>

      <textarea
        class="form-control col-sm-6"
        rows="15"
        name="helpContent"
        id="helpContent"
        placeholder="Treść wiadomości"
        [ngClass]="{ 'is-invalid': submitted && f?.helpMessage?.errors }"
        formControlName="helpMessage"
      ></textarea>
      <div
        *ngIf="
          submitted &&
          (!!f?.helpMessage?.errors?.required ||
            !!f?.helpMessage?.errors?.minlength)
        "
        class="invalid-feedback"
      >
        <div
          *ngIf="
            !!f?.helpMessage?.errors?.required ||
            !!f?.helpMessage?.errors?.minlength
          "
        >
          Wiadomość jest wymagana, opisz dokładnie swój problem.
        </div>
      </div>
    </div>
    <div class="form-group btn-group col-sm-4">
      <div class="card-footer col-sm-6">
        <button type="submit" class="btn btn-success btn-block">Wyślij</button>
      </div>
      <div class="card-footer col-sm-6">
        <button type="reset" class="btn btn-secondary btn-block">
          Wyczyść
        </button>
      </div>
    </div>
  </form>
</div>
