#groupJoinButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
#nameid {
  margin-top: 2%;
}
#groupJoin {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}
#buttons {
    margin-right: 100%;
}
