<div class="mb-4">
  <p></p>
  <h2 class="text-center text-primary" id="space">Szczegóły grupy</h2>
  <hr />
  <div class="container mt-4">
    <div class="row">
      <div
        [ngClass]="{
          'col-sm-3': showMemeberGroupList
        }"
        class="col-sm-3"
        *ngIf="showMemeberGroupList"
      >
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let groupMember of groupMembers">
            {{ groupMember.name + " " + groupMember.surname }}
            <div class="float-right">
              <button
                *ngIf="isFounderGroup(groupMember.id)"
                type="button"
                class="deleteUser"
                class="btn btn-outline-danger btn-sm"
                (click)="removeMember(groupMember)"
              >
                x
              </button>
            </div>
          </li>
          <li class="list-group-item" *ngIf="canManageGroup">
            <button
              type="button"
              class="btn btn-danger btn-lg btn-block"
              (click)="archiveGroup()"
            >
              Archiwizuj grupę
            </button>
          </li>
        </ul>
      </div>
      <div
        [ngClass]="{
          'col-sm-4': showMemeberGroupList,
          'col-sm-5': !showMemeberGroupList
        }"
      >
        <div class="card card-body">
          <h4>Informacje o grupie</h4>
          <h5>Założyciel: {{ group?.founder }}</h5>
          <h5>Liczba członków: {{ group?.membersQuantity }}</h5>
          <h5>Kierunek i wydział: {{ group?.faculty }}</h5>
          <div
            class="col-sm-10"
            id="groupJoinButton"
            *ngIf="canJoinToGroup && isStudent"
          >
            <button
              type="submit"
              class="btn btn-success btn-block"
              (click)="wantJoinToGroup = true"
            >
              Dołącz do grupy
            </button>
          </div>
        </div>
      </div>
      <div
        [ngClass]="{
          'col-sm-5': showMemeberGroupList,
          'col-sm-6': !showMemeberGroupList
        }"
      >
        <div class="card card-body">
          <h4>Informacje o pracy</h4>
          <h5>Imię i nazwisko promotora: {{ group?.supervisorName }}</h5>
          <h5>Tytuł pracy dyplomowej {{ group?.topicOfWorkName }}</h5>
          <h5>Kierunek i wydział: {{ group?.faculty }}</h5>
          <h5>Stopień: {{ group?.semester }}</h5>
          <h5>Maksymalna liczba osób: {{ group?.maxQuantity }}</h5>
          <div *ngIf="canManageGroup">
            <br />
            <div class="card-footer">
              <button
                type="button"
                class="btn btn-success btn-block"
                (click)="showMemeberGroupList = !showMemeberGroupList"
              >
                Zarządzaj grupą
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4" id="groupJoin" *ngIf="wantJoinToGroup">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <form [formGroup]="joinToGroupForm" (ngSubmit)="joinGroup()">
            <h6 id="nameid">Podaj hasło grupy:</h6>
            <input
              type="password"
              class="form-control"
              required
              name="password"
              formControlName="password"
              [ngClass]="{ 'is-invalid': submitted && f?.password?.errors }"
              placeholder="Hasło"
            />
            <div
              *ngIf="submitted && !!f?.password?.errors"
              class="invalid-feedback"
            >
              <div *ngIf="!!f?.password?.errors">
                Pole jest wymagane.
              </div>
            </div>
            <br />
            <h6>Potwierdź hasło grupy:</h6>
            <input
              type="password"
              class="form-control"
              required
              name="confirmPassword"
              formControlName="confirmPassword"
              [ngClass]="{
                'is-invalid': submitted && f?.confirmPassword?.errors
              }"
              placeholder="Powtórz hasło"
              id="confirmPassword"
            />
            <div
              *ngIf="submitted && !!f?.confirmPassword?.errors"
              class="invalid-feedback"
            >
              <div *ngIf="!!f?.confirmPassword?.errors">
                Hasła muszą być identyczne.
              </div>
            </div>
            <br />
            <div class="card-footer">
              <button
                [disabled]="!joinToGroupForm?.dirty"
                type="submit"
                class="btn btn-success btn-block"
              >
                Dołącz
              </button>
            </div>
          </form>
        </tabset>
      </div>
    </div>
  </div>
</div>
